version: "3"

services:
  doc-ver-api:
    image: us-central1-docker.pkg.dev/document-verification-public/docver-gcm/web-api-doc-ver:3.15.0
    # depends_on:
    #   visual-anomaly:
    #     condition: service_healthy
    ports:
      - ${DOC_VER_API_PORT}:8080
    environment:
      Api__CorsMethods: "GET,POST,OPTIONS"
      Api__CorsOrigins: ${ALLOWED_ORIGINS}
      Runner__Pools__3.2__Address: "dns:///doc-ver-runner:8081"
    deploy:
      resources:
        limits:
          cpus: ${LIMITS_CPUS}
          memory: ${LIMITS_MEM}
        reservations:
          cpus: ${RESERVATIONS_CPUS}
          memory: ${RESERVATIONS_MEM}
    networks:
      - doc-ver-network
