version: '3'

services:
  va-model-proxy:
    depends_on:
      va-model-nginx:
        condition: service_healthy
    image: us-central1-docker.pkg.dev/document-verification-public/docver-gcm/mlp-model-proxy/onprem:v0.25.2
    healthcheck:
      test: ["CMD", "grpc_health_probe", "-addr", "va-model-proxy:8005"]
      interval: 15s
      timeout: 10s
      retries: 5
    networks:
      - doc-ver-network
    volumes:
      - ./proxy/bundle-signature.yaml:/etc/bundle-signature.yaml
    command:
      - mproxy
      - server
      - --tf-serving-connection-string
      - va-model-nginx:80
      - -c
      - /etc/bundle-signature.yaml

  va-model-nginx:
    depends_on:
      s6687ad3b04248f708c1e0c95s:
        condition: service_healthy
    image: fabiocicerchia/nginx-lua:1.25.2-alpine3.18.3
    healthcheck:
      test: ["CMD", "curl", "-f", "va-model-nginx:80/health"]
      interval: 15s
      timeout: 10s
      retries: 5
    networks:
      - doc-ver-network
    volumes:
      - ${REL_DIR}/conf/bundle-va/nginx.conf:/etc/nginx/nginx.conf

  s6687ad3b04248f708c1e0c95s:
    healthcheck:
      test: ["CMD", "grpc_health_probe", "-addr", "s6687ad3b04248f708c1e0c95s:8001"]
      interval: 15s
      timeout: 10s
      retries: 5
    image: us-central1-docker.pkg.dev/document-verification-public/docver-gcm/tritonserver-cpu-onnxruntime/onprem:23.06-3.8.0
    networks:
      - doc-ver-network
    command:
      - tritonserver
      - --model-repository=/models
    deploy:
      resources:
        limits:
          cpus:  ${SERVING_6687ad3b04248f708c1e0c95_CPU_LIMIT}
          memory: ${SERVING_6687ad3b04248f708c1e0c95_MEM_LIMIT}
        reservations:
          cpus: ${SERVING_6687ad3b04248f708c1e0c95_CPU_RESERVATION}
          memory: ${SERVING_6687ad3b04248f708c1e0c95_MEM_RESERVATION}

networks:
  doc-ver-network:
