name: doc-ver
apiVersion: v2
version: 0.6.2
appVersion: 3.17.1
dependencies:
  - name: doc-ver-api
    repository: https://helm.microblink.com/charts
    version: 0.0.14
    condition: doc-ver-api.enabled
  - name: model-serving
    alias: bundle-doc-ver-core-versions
    repository: https://helm.microblink.com/charts
    version: 1.5.6
    condition: bundle-doc-ver-core-versions.enabled
  - name: docver-runner
    repository: https://helm.microblink.com/charts
    version: 0.0.2
    condition: docver-runner.enabled
