version: "3"
services:
  doc-ver-model-proxy:
    depends_on:
      doc-ver-model-nginx:
        condition: service_healthy
    image: us-central1-docker.pkg.dev/document-verification-public/docver-gcm/mlp-model-proxy/onprem:v0.20.0
    healthcheck:
      test: ["CMD", "grpc_health_probe", "-addr", "doc-ver-model-proxy:8005"]
      interval: 15s
      timeout: 10s
      retries: 5
    networks:
      - doc-ver-network
    volumes:
      - ./proxy/bundle-signature.yaml:/etc/bundle-signature.yaml
    command:
      - mproxy
      - server
      - --tf-serving-connection-string
      - doc-ver-model-nginx:80
      - -c
      - /etc/bundle-signature.yaml

  doc-ver-model-nginx:
    depends_on:
      s682b4988437e2714e4aec140s:
        condition: service_healthy
      s66e2b36788703787163f0ecfs:
        condition: service_healthy
    image: fabiocicerchia/nginx-lua:1.25.2-alpine3.18.3
    healthcheck:
      test: ["CMD", "curl", "-f", "doc-ver-model-nginx:80/health"]
      interval: 15s
      timeout: 10s
      retries: 5
    networks:
      - doc-ver-network
    volumes:
      - ${REL_DIR}/conf/bundle-doc-ver/nginx.conf:/etc/nginx/nginx.conf

  s682b4988437e2714e4aec140s:
    image: us-central1-docker.pkg.dev/document-verification-public/docver-gcm/tf-serving-kira-native-cpu/onprem:v2.13.0-3.13.0
    networks:
      - doc-ver-network
    command:
      - --enable_model_warmup
      - --model_name=682b4988437e2714e4aec140
      - --model_base_path=/models/682b4988437e2714e4aec140
      - --tensorflow_inter_op_parallelism=1
      - --tensorflow_intra_op_parallelism=1
      - --file_system_poll_wait_seconds=0
      - --grpc_max_threads=12
    environment:
      OMP_NUM_THREADS: "1"
    healthcheck:
      test:
        [
          "CMD",
          "tfs_model_status_probe",
          "-addr",
          "s682b4988437e2714e4aec140s:8500",
          "-model-name",
          "682b4988437e2714e4aec140",
          "-model-version",
          "1",
          "|",
          "grep",
          "AVAILABLE",
        ]
      interval: 30s
      timeout: 10s
      retries: 5
    deploy:
      resources:
        limits:
          cpus: ${SERVING_682b4988437e2714e4aec140_CPU_LIMIT}
          memory: ${SERVING_682b4988437e2714e4aec140_MEM_LIMIT}
        reservations:
          cpus: ${SERVING_682b4988437e2714e4aec140_CPU_RESERVATION}
          memory: ${SERVING_682b4988437e2714e4aec140_MEM_RESERVATION}
  s66e2b36788703787163f0ecfs:
    image: us-central1-docker.pkg.dev/document-verification-public/docver-gcm/tf-serving-kira-native-cpu/onprem:v2.13.0-3.13.0
    networks:
      - doc-ver-network
    command:
      - --enable_model_warmup
      - --model_name=66e2b36788703787163f0ecf
      - --model_base_path=/models/66e2b36788703787163f0ecf
      - --tensorflow_inter_op_parallelism=2
      - --tensorflow_intra_op_parallelism=2
      - --file_system_poll_wait_seconds=0
      - --grpc_max_threads=18
    environment:
      OMP_NUM_THREADS: "2"
    healthcheck:
      test:
        [
          "CMD",
          "tfs_model_status_probe",
          "-addr",
          "s66e2b36788703787163f0ecfs:8500",
          "-model-name",
          "66e2b36788703787163f0ecf",
          "-model-version",
          "1",
          "|",
          "grep",
          "AVAILABLE",
        ]
      interval: 30s
      timeout: 10s
      retries: 5
    deploy:
      resources:
        limits:
          cpus: ${SERVING_66e2b36788703787163f0ecf_CPU_LIMIT}
          memory: ${SERVING_66e2b36788703787163f0ecf_MEM_LIMIT}
        reservations:
          cpus: ${SERVING_66e2b36788703787163f0ecf_CPU_RESERVATION}
          memory: ${SERVING_66e2b36788703787163f0ecf_MEM_RESERVATION}
  s67e56611a7b8d3605d024303s:
    image: us-central1-docker.pkg.dev/document-verification-public/docver-gcm/tf-serving-kira-native-cpu/onprem:v2.13.0-3.13.0
    networks:
      - doc-ver-network
    command:
      - --enable_model_warmup
      - --model_name=67e56611a7b8d3605d024303
      - --model_base_path=/models/67e56611a7b8d3605d024303
      - --tensorflow_inter_op_parallelism=1
      - --tensorflow_intra_op_parallelism=1
      - --file_system_poll_wait_seconds=0
      - --grpc_max_threads=12
    environment:
      OMP_NUM_THREADS: "1"
    healthcheck:
      test:
        [
          "CMD",
          "tfs_model_status_probe",
          "-addr",
          "s67e56611a7b8d3605d024303s:8500",
          "-model-name",
          "67e56611a7b8d3605d024303",
          "-model-version",
          "1",
          "|",
          "grep",
          "AVAILABLE",
        ]
      interval: 30s
      timeout: 10s
      retries: 5
    deploy:
      resources:
        limits:
          cpus: ${SERVING_67e56611a7b8d3605d024303_CPU_LIMIT}
          memory: ${SERVING_67e56611a7b8d3605d024303_MEM_LIMIT}
        reservations:
          cpus: ${SERVING_67e56611a7b8d3605d024303_CPU_RESERVATION}
          memory: ${SERVING_67e56611a7b8d3605d024303_MEM_RESERVATION}
  s68361556437e2714e4aec14bs:
    image: us-central1-docker.pkg.dev/document-verification-public/docver-gcm/tf-serving-kira-native-cpu/onprem:v2.13.0-3.13.0
    networks:
      - doc-ver-network
    command:
      - --enable_model_warmup
      - --model_name=68361556437e2714e4aec14b
      - --model_base_path=/models/68361556437e2714e4aec14b
      - --tensorflow_inter_op_parallelism=1
      - --tensorflow_intra_op_parallelism=1
      - --file_system_poll_wait_seconds=0
      - --grpc_max_threads=12
    environment:
      OMP_NUM_THREADS: "1"
    healthcheck:
      test:
        [
          "CMD",
          "tfs_model_status_probe",
          "-addr",
          "s68361556437e2714e4aec14bs:8500",
          "-model-name",
          "68361556437e2714e4aec14b",
          "-model-version",
          "1",
          "|",
          "grep",
          "AVAILABLE",
        ]
      interval: 30s
      timeout: 10s
      retries: 5
    deploy:
      resources:
        limits:
          cpus: ${SERVING_68361556437e2714e4aec14b_CPU_LIMIT}
          memory: ${SERVING_68361556437e2714e4aec14b_MEM_LIMIT}
        reservations:
          cpus: ${SERVING_68361556437e2714e4aec14b_CPU_RESERVATION}
          memory: ${SERVING_68361556437e2714e4aec14b_MEM_RESERVATION}

networks:
  doc-ver-network:
