DOC_VER_API_PORT=8080

DOCVER_IMAGE=us-docker.pkg.dev/document-verification-public/verify-public/single-image
DOCVER_IMAGE_TAG=3.21.0

LIMITS_CPUS=4
LIMITS_MEM=8G
RESERVATIONS_CPUS=2
RESERVATIONS_MEM=4G

WORKER_COUNT=2
HEALTH_PORT_BASE=18080
API_TIMEOUT_SECONDS=30
WORKER_POLL_TIMEOUT_SECONDS=10
JOB_TIMEOUT_MINUTES=2
LOG_FILES_ENABLED=0

# Following vars are set by running init.sh
#APPLICATION_ID=''
#LICENSE_KEY=''
